@tailwind base;
@tailwind components;
@tailwind utilities;


/* Briggs Design System */
.briggs-heading4xl {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 40px;
     line-height: 48px;
  }
}

@layer components {
  .briggs-heading4xl8 {
    @apply 
      briggs-fontsize-heading4xl-xs-sm 
      briggs-lineheight-heading4xl-xs-sm
      briggs-weight-heading
      briggs-typeface;

    @screen md {
      @apply
        briggs-fontsize-heading4xl-md-xl
        briggs-lineheight-heading4xl-md-xl
    }
  }

  .briggs-heading3xl {
    @apply 
      briggs-fontsize-heading3xl-xs-sm 
      briggs-lineheight-heading3xl-xs-sm
      briggs-weight-heading
      briggs-typeface;

    @screen md {
      @apply
        briggs-fontsize-heading3xl-md-xl
        briggs-lineheight-heading3xl-md-xl
    }
  }

  .briggs-heading2xl {
    @apply 
      briggs-fontsize-heading2xl-xs-sm 
      briggs-lineheight-heading2xl-xs-sm
      briggs-weight-heading
      briggs-typeface;

    @screen md {
      @apply
        briggs-fontsize-heading2xl-md-xl
        briggs-lineheight-heading2xl-md-xl
    }
  }

  .briggs-headingxl {
    @apply 
      briggs-fontsize-headingxl-xs-sm 
      briggs-lineheight-headingxl-xs-sm
      briggs-weight-heading
      briggs-typeface;

    @screen md {
      @apply
        briggs-fontsize-headingxl-md-xl
        briggs-lineheight-headingxl-md-xl
    }
  }

  .briggs-headinglg {
    @apply 
      briggs-fontsize-headinglg-xs-sm 
      briggs-lineheight-headinglg-xs-sm
      briggs-weight-heading
      briggs-typeface;

    @screen md {
      @apply
        briggs-fontsize-headinglg-md-xl
        briggs-lineheight-headinglg-md-xl
    }
  }
}


/* End Briggs Design System */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-gray-900;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
