@tailwind base;
@tailwind components;
@tailwind utilities;


/* Briggs Design System */
.briggs-heading4xl {
  font-size: 32px;
  line-height: 40px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 40px;
     line-height: 48px;
  }
}

.briggs-heading3xl {
  font-size: 28px;
  line-height: 32px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 32px;
     line-height: 40px;
  }
}

.briggs-heading2xl {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 28px;
     line-height: 32px;
  }
}

.briggs-headingXl {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 24px;
     line-height: 28px;
  }
}

.briggs-headingLg {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 20px;
     line-height: 40px;
  }
}

.briggs-bodyLg {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 20px;
     line-height: 24px;
  }
}

.briggs-bodyMd {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 16px;
     line-height: 20px;
  }
}

.briggs-bodySm {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400; /* Adjust accordingly */
  font-family: 'Montserrat', sans-serif;

  @screen md {
     font-size: 14px;
     line-height: 18px;
  }
}

/* End Briggs Design System */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply text-gray-900;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
